<div class="container">
  <!-- Tabla -->
  <div class="table-wrapper mat-elevation-z8">
    <table mat-table [dataSource]="pokemones" class="full-width-table">

      <!-- Imagen -->
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let p">
          <a [routerLink]="['/detalle_pokemones', p.id]">
            <img [src]="p.sprites.front_default" [alt]="p.name" class="personaje-img"/>
          </a>
        </td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let p">
          <a [routerLink]="['/detalle_pokemones', p.id]" class="link-nombre">
            {{ p.name | titlecase }}
          </a>
        </td>
      </ng-container>

      <!-- Tipos -->
      <ng-container matColumnDef="tipos">
        <th mat-header-cell *matHeaderCellDef> Tipo(s) </th>
        <td mat-cell *matCellDef="let p">
          <span *ngFor="let t of p.types; let last = last">
            {{ t.type.name }}<span *ngIf="!last">, </span>
          </span>
        </td>
      </ng-container>

      <!-- Experiencia base -->
      <ng-container matColumnDef="experiencia">
        <th mat-header-cell *matHeaderCellDef> Exp </th>
        <td mat-cell *matCellDef="let p"> {{ p.base_experience }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginador -->
  <div class="paginator-wrapper">
    <mat-paginator
      [length]="totalPokemones"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <div class="container-notFound" *ngIf="pokemones.length === 0">
    <h2>No hay resultados</h2>
    <br>
    <button (click)="volver()" class="btn btn-primary">Volver</button>
  </div>
</div>
